doctype
html
   head
      title TreyVee
      != css("normalize")
      != css("style")
      != js("jquery-1.10.2.js")
      != js("knockout")
   body
      .page-content
         block page
      footer
         != js("ko_model")
         != js("site")