doctype
html
   head
      title TreyVee
      != css("normalize")
      != css("fonts")
      != css("style")
      != js("jquery-1.10.2.js")
      != js("knockout")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
   body
      .page-content
         block page
      footer
         != js("ko_model")
         != js("site")