/*
 * Import nib
 */
// @import 'nib'
/*
 * Nib provides a CSS reset
 */
//global-reset()

/*
 * Store Variables
 */

html,
body
   width 100%
   height 100%
/* ==========================================================================
   Header
   ========================================================================== */
   .page-content
      width 100%
      height 100%
      background-color white
      
      .main-logo
         width 39.68%
         position absolute
         margin auto
         left 0
         right 0
         top 8.4%
      .three-v-line
         font-family OpenSans-Light
         font-size 1.25vw
         width 100%
         text-align center
         position absolute
         top 51%
         color #D5D9E1
         letter-spacing 10px
         font-weight lighter
      .coming-line
         font-family OpenSans-Light
         font-size 1.4vw
         width 100%
         text-align center
         position absolute
         top 70%
         color #6F7375
         letter-spacing 9px
         font-weight lighter
      p
         font-family OpenSans-Light
         font-size 0.83vw
         width 100%
         text-align center
         position absolute
         top 81.1%
         color #6F7375
         letter-spacing 5px
         font-weight lighter
      form
         .field-wrapper
            width 29.1vw
            height 2.77vw
            position absolute
            position absolute
            margin auto
            left 0
            right 0
            top 85.1%
         input
            width 29.1vw
            height 2.77vw 
            border 1px solid #D5D9E1
            position relative
            margin auto
            left 0
            right 0
            top 0
            font-family OpenSans-Light
            font-size 1.25vw
            letter-spacing 5px
            text-align center
            color #EAECF0
            &::-webkit-input-placeholder
               color #EAECF0
            &:-moz-placeholder
               color #EAECF0
            &::-moz-placeholder
               color #EAECF0  
            &:-ms-input-placeholder
               color #EAECF0
            &:focus
               border-color #56B0FF
               color #56B0FF
               outline none
               &::-webkit-input-placeholder
                  color #56B0FF
               &:-moz-placeholder
                  color #56B0FF
               &::-moz-placeholder
                  color #56B0FF 
               &:-ms-input-placeholder
                  color #56B0FF
         #status-circle
            width 1.94vw
            height 1.94vw
            background-image url("/img/Submit_btn@2x.png")
            background-repeat no-repeat
            background-size contain
            position absolute
            top 15%
            right 2%
            opacity 0
      
      #email-status
         position absolute
         top 92%  
            
      .left-crystal
         width 26.5%
         position absolute
         left 0 
         bottom 0
      .right-crystal
         width 26.5%
         position absolute
         right 0 
         bottom 0
         